/* Đặt độ rộng cố định cho Select */
.custom-select {
    width: 120px !important;
  }
  
  /* Light Mode Styles */
.custom-select-light .ant-select-selector {
    background-color: white !important;
    color: black !important;
    border: 1px solid gray !important;
    border-radius: 4px !important;
    padding: 8px 12px !important;
    text-align: center !important;
  }
  
.custom-dropdown-light {
    background-color: white !important;
    border: 1px solid gray !important;
  }
  
.custom-dropdown-light .ant-select-item {
    background-color: white !important;
    color: black !important;
  }
  
.custom-dropdown-light .ant-select-item-option-active {
    background-color: lightgray !important;
  }
  
.custom-dropdown-light .ant-select-item-option-selected {
    background-color: gray !important;
    font-weight: bold !important;
  }
  
  /* Dark Mode Styles */
.custom-select-dark .ant-select-selector {
    background-color: black !important;
    color: white !important;
    border: 1px solid gray !important;
    border-radius: 4px !important;
    padding: 8px 12px !important;
    text-align: center !important;
  }
  
.custom-dropdown-dark {
    background-color: black !important;
    border: 1px solid gray !important;
  }
  
.custom-dropdown-dark .ant-select-item {
    background-color: black !important;
    color: white !important;
  }
  
.custom-dropdown-dark .ant-select-item-option-active {
    background-color: gray !important;
  }
  
.custom-dropdown-dark .ant-select-item-option-selected {
    background-color: darkgray !important;
    font-weight: bold !important;
  }

.custom-select-light .ant-select-arrow {
    color: black !important;
  }
.custom-select-dark .ant-select-arrow {
    color: white !important;
  }  